$color-yellow: yellow;
$color-green: green;
$color-red: red;
$color-black: black;
$color-indigo: indigo;
$color-pink: pink;
$color-orange: orange;
$color-magenta: magenta;
$color-gray: gray;
$color-white: white;
$color-blue: blue;
